<p-table [value]="packs" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"  currentPageReportTemplate="A mostrar de {first} a {last} de um total de {totalRecords} encomendas" [rowsPerPageOptions]="[10,25,50]">
  <ng-template pTemplate="header" >
      <tr>
          <th>id</th>
          <th>Origem</th>
          <th>Destino</th>
          <th>Data de entrega</th>
          <th>Status</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-car>
      <tr>
          <td>{{car.id}}</td>
          <td>{{car.origin}}</td>
          <td>{{car.destination}}</td>
          <td>{{car.date | date}}</td>
          <td>{{car.status}}</td>
      </tr>
  </ng-template>
</p-table>
